--index-url https://download.pytorch.org/whl/cu128

PyYAML
safetensors
triton # optional, for faster training on A100 GPUs
torch
torchaudio
torchvision
jsonargparse[signatures]
lightning
soundfile
torchmetrics[audio]

# optional
mlflow  
onnx
onnxscript
onnxruntime
